{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block header %}
  {% include 'header.html' %}
{% endblock %}

{% block main %}

  <h1>Welcome to {{ application_name }}!</h1>

  <form action="/book/upload" method="post" enctype="multipart/form-data">
    Select book to upload:
    <input type="file" name="fileToUpload" id="fileToUpload">
    <input type="submit" value="Upload File" name="submit">
  </form>

  <progress id="progress-bar" max=100 value=0></progress>

  <section class="content">
    <ul class="books" id="books-drop">
      {% for book in books %}
      <li>
        <div class="title">{{ book }}</div>
        <div class="controls">
          <button>View</button>
          <button>Delete</button>
        </div>
      </li>
      {% endfor %}
    </ul>

    <ul class="device-books">
      <li>
        <div class="title">book</div>
        <div class="controls">
          <button>View</button>
          <button>Delete</button>
        </div>
      </li>
    </ul>

    <ul class="devices">
      {% for device in devices %}
      <li>
        <div class="device">{{ device }}</div>
      </li>
      {% endfor %}
      <li>
        <div class="add-device">Add device</div>
      </li>
    </ul>
  </section>

  <script src="file-drop.js"></script>
  <script>
    let dropArea = document.getElementById('books-drop')
    let progressBar = document.getElementById('progress-bar')
    fileUpload(dropArea, progressBar)
  </script>

{% endblock %}
