body,html {
	height: 100%;
	width: 100%;
	font-family: sans-serif;
}
body {
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
}
div,img,p {
	padding: 0;
	margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > .content {
  width: 100%;
  display: grid;
  grid-template-areas:
    "books device devices";
  grid-template-columns: repeat(2, 1fr) 80px;
}

ul.books {
  grid-area: books;
  padding: 0;
  border: green 2px solid;
}
ul.books.highlight {
  border: dashed 5px blue;
}
ul.books > li {
  list-style: none;

  padding: 0.5rem 5px;

  display: grid;
  grid-template-areas:
    'title controls'
  ;
  grid-template-columns: auto max-content;
}
ul.books > li:nth-child(2n+1) {
  background: #c3eeff;
}
ul.books > li > .title {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
}

ul.device {
  grid-area: device;
}

ul.devices {
  grid-area: devices;
  padding: 0;
}
ul.devices > li {
  list-style: none;
  font-size: 40px;
}

ul.devices #add-device:hover {
  background: #aaa;
  cursor: pointer;
}
