body,html {
	height: 100%;
	width: 100%;
	font-family: sans-serif;
}
body {
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
}
div,img,p {
	padding: 0;
	margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > .content {
  width: 100%;
  display: grid;
  grid-template-areas:
    "books device devices";
  grid-template-columns: auto 40% 80px;
}

ul.books {
  grid-area: books;
}
ul.books.highlight {
  border: dashed 5px blue;
}
ul.books > li {
  list-style: none;

  padding: 0.5rem 5px;

  max-width: 800px;
  display: grid;
  grid-template-areas:
    'title controls'
  ;
  grid-template-columns: auto max-content;
}
ul.books > li:nth-child(2n+1) {
  background: #c3eeff;
}
ul.books > li > .controls {
}

ul.devices {
  grid-area: devices;
}
